/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    color: #526066;
    font-family: 'Roboto', sans-serif;
}

h2, h3 {
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 600;
}

p {
    line-height: 1.6em;
}
img {
    max-width:100%;
    height:auto;
    border: solid 1px #D8D8D8;
}
.fa {
     -webkit-transition: all .2s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
.fa-4x {
    font-size: 3.5em;
    padding: 5px 20px;
}
.fa-twitter {
    color: #00aced;
}
.fa-linkedin-square, 
.fa-linkedin {
    color: #007bb6;
}
.fa-github {
    color: #1A1414;
}

.fa-github:active,
.fa-github:hover,
.fa-twitter:hover,
.fa-linkedin-square:hover {
    opacity:0.7;
}

.centered {
    margin: 0 auto;
    text-align: center;
}

/*
 * -- Layout Styles --
 */
.l-content {
    margin: 0 auto;
    margin-top: -25px;
}

.l-box {
    padding: 0.5em 2em;
}

/*
 * -- MENU STYLES --
 * Make the menu have a very faint box-shadow.
 */
.pure-menu {
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: bolder;
    margin: 0 auto;
}

.pure-menu .pure-menu-heading {
    color: #264A73;
    font-size: 175%;
    font-weight: 600;
    text-transform: lowercase;

}

.pure-menu {
    text-align: center;
}

.pure-menu .pure-menu-horizontal .ul {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 5px;
    padding-left: 5px;
}

.pure-menu li a {
    padding: 5px 14px;
}

.pure-menu .pure-menu-heading:hover,
.pure-menu .pure-menu-heading:active {
    opacity: 0.7;
}

.pure-g {
    letter-spacing: 0em;
}

/*
 * -- BANNER --
 * The top banner with the headings. By using a combination
 * of `display: table;` and `display: table-cell;`, we can
 * vertically center the text.
 */

.banner {
    /* background: transparent url('../../images/skyline.png') 0 0 no-repeat fixed; */
    background: #4A90E2;
    text-align: center;
    background-position: center;
    background-size: cover;
    /*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://24.media.tumblr.com/ccb268832580ac12951828a1c179de69/tumblr_mo2xbk8JUK1st5lhmo1_1280.jpg', sizingMethod='scale');
    */
    height: 100px;
    width: 100%;
    margin-bottom: 3em;
    display: table;

    box-shadow: 0 2px 1px #999;
}

 .banner-head {
        display: table-cell;
        vertical-align: middle;
        margin-bottom: 0;
        /*
        font-size: 2em;
        color: white;
        */
        /* text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray; 
        text-shadow: 0 1px 1px black;*/ 
        
/* HELLO 2: */
        font-family: 'HelveticaNeue-Thin','Roboto', Arial, sans-serif;
        font-weight: 300;
        font-size: 3em;
        color: #4A90E2;
        color: white;
        line-height: 2em;
        letter-spacing: 2px;

    }



/*
 * -- PRICING TABLE WRAPPER --
 * This element wraps up all the pricing table elements
 */
 .pricing-tables,
 .information {
    max-width: 1024px;
    margin: 0 auto;
 }
.pricing-tables {
    margin-bottom: 3.125em;
    text-align: center;
}



.footer {
    background: #fff;
    color: #888;
    text-align: center;
}
    .footer a {
        color: #222;
    }


.pure-menu li a {
    padding: 5px 14px;
}

.pure-menu .pure-menu-heading {
        float: none;
        text-align: center;
    }

/*
.pure-menu-selected {
        border-bottom: solid 5px #D8D8D8;
}



/*
 * -- TABLET MEDIA QUERIES --
 * On tablets, we want to slightly adjust the size of the banner
 * text and add some vertical space between the various pricing tables
 */
@media(min-width: 768px) {

    .banner-head {
        font-size: 6em;
    }
    .pricing-table {
        margin-bottom: 0;
    }

    .pure-menu li a {
        padding: 13px 14px;
    }

}


/*
 * -- PHONE MEDIA QUERIES --
 * On phones, we want to reduce the height and font-size of the banner further
 */
@media (min-width: 480px) {
    .banner {
        height: 200px;
    }
    .banner-head {
        font-size: 7em;
    }
    .pure-menu {
    font-size: 1.25em;
    }
    .fa-4x {
        font-size: 2em;
        padding: 5px 30px;
    }
    /*.pure-menu {
    text-align: left;
    }*/
    .pure-menu li a {
        padding: 10px 25px 16px 25px;
    }

    .pure-menu ul {
        float: right;
        margin-top: 4px;
        font-size: 1.1em;
    }

    .pure-menu .pure-menu-heading {
        float: left;
    }

    .l-content {
    margin: 0 auto;
    }
}
